In [21]:
import json
import os
import pandas as pd
import re
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

# Common imports
import numpy as np
import os
import pandas as pd

In [22]:
# Import data
df = pd.read_excel('Leadership surveys 2021 - dashboard data for EDW.xlsx', header=[0, 1]) #full file

In [23]:
q13= df[['ID.format','Q13a','Q13b','Q13c','Q13d','Q13e']] #isolating one question and the breakdowns I want ex. Sector, Role etc
q13 = q13.rename(columns={'ID.format':'Sector'})
q13.columns = q13.columns.droplevel(-1) #Removing multi level headers
q13.head()

  Sector    Q13a        Q13b Q13c        Q13d        Q13e
0     HE     Yes         Yes  NaN         Yes  Don't know
1     HE     Yes         Yes  NaN         Yes      Partly
2     HE     Yes  Don't know  NaN  Don't know      Partly
3     HE     Yes         Yes  NaN         Yes         Yes
4     HE  Partly         Yes  NaN      Partly      Partly

In [28]:
q13.groupby(['Sector']).describe()

# Percentage breakdown
print(q13.groupby(['Sector'])['Q13a'].value_counts(normalize=True) * 100 )

# counts breakdown
print(q13.groupby(['Sector'])['Q13a'].value_counts(normalize=False) )

Sector  Q13a
FE      Yes           69.014085
        Partly        14.788732
        Don't know    14.084507
        No             2.112676
HE      Yes           77.464789
        Don't know    11.971831
        Partly         9.859155
        No             0.704225
Name: Q13a, dtype: float64
Sector  Q13a
FE      Yes            98
        Partly         21
        Don't know     20
        No              3
HE      Yes           110
        Don't know     17
        Partly         14
        No              1
Name: Q13a, dtype: int64

In [29]:
stats = pd.DataFrame()
stats['Count'] =  q13.groupby(['Sector'])['Q13a'].value_counts(normalize=False) #Adding both to dataframe
stats['Percentage'] = q13.groupby(['Sector'])['Q13a'].value_counts(normalize=True) * 100
stats #final dataframe can be stores as an excel and/or copied to a master excel

                   Count  Percentage
Sector Q13a
FE     Yes            98   69.014085
       Partly         21   14.788732
       Don't know     20   14.084507
       No              3    2.112676
HE     Yes           110   77.464789
       Don't know     17   11.971831
       Partly         14    9.859155
       No              1    0.704225